html {font: size 24px;}
body {margin: 0px;}
section {
    margin: 0px;
    padding: 0px;}
#insideblue {
    background: royalblue;}
.container#green {
    margin: 0px 200px;
    margin-top: 0px;
    background: chartreuse;
}
#border {
    display: flex;
    justify-content: center;
}
#photo {
    display: center;
    border: solid;
    border-width: 15px;
    border-color: gold;
    border-radius: 50%;
    content: fit;
}
h1 {font-size: 2rem;}
h1.header1 {color: blue;}
h1.header2 {color:red}
p {line-break:2rem;}
#block {
    margin: none;
    padding: 5%;
    background-color:whitesmoke;
    border-style: dashed;
    border-color: cornflowerblue;
}
#cards { 
    margin: 15px;
    background-color: whitesmoke;
    border: 3px solid;
    border-style: dashed;
    border-color: cornflowerblue;
    justify-content: center;
    display:flex;
}
.box { margin: 25px 5px;
    padding: 25px 50px;
    border: 2px solid;
    border-radius: 5%;
    display:block;
}
#red { background-color: red;}
#blue { background: blue;}
#yellow {background: yellow;}
#green {background: green;}