body {background-color: azure;}
section { display: flex;
    justify-content: center;
align-items: center;
position: relative;}
#centrifuge {
    height: 100px;
    width: 100px;
    border: 5px solid;
    border-color: gold;
    border-radius: 50%;}
#circle {
        height: 100px;
        width: 100px;
        background-color:darkblue;
        border-radius: 50%;
        display: inline-block;
    }
#centrifuge:hover {border:none;}
#circle:hover {
    border-radius: normal;
    margin: normal;
    padding: normal;
    background-color: cadetblue;}