html {
    font-size: 24px;
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#mediaquery1 {margin-top: 6rem;
    margin: 100px 100px;
    padding: 0 0 100px 0;
    flex: auto;
    background-color: cornflowerblue;
    transition-delay: 750ms;
}
#border {
    justify-content: center;
    text-align: center;
    background-color: aqua;
    transition-delay: 250ms;
}
#heading { 
    font-size: 3rem;
    transition-delay: 500ms;
    color: darkblue;
    transition-delay: 50ms;
}

#mediaquery2 {
    background-color: beige;
    margin-left: 15px;
    margin-right: 15px;
    contain: content;
    display: inline-flexbox;
}
#boxes {
    justify-content: center;
    text-align: center;
    border-style: dashed;
    border-width: 2px;
    border-color: crimson;
}
.box {
    padding: 50px;
    inline-size: 100%;
    border: none;
    margin: none;
    display: inline-block;
}
#box1 {
    background-color: crimson;
    inline-size: 100%;}
#box2 {
    background-color:aqua;
    inline-size: 59.25%;
}
#box3 {
    background-color: limegreen;
    inline-size: 29.5%;}
#box4 {
    background-color: yellow;
    inline-size: 44.3%;}
#box5 {
    background-color: blueviolet;
    inline-size: 44.3%;}

@media screen and (min-width: 1200px) {
    #border {
        background-color: darkblue;
    }

    #heading {
        color: aquamarine;
    }

    body {
        background-color: aliceblue;
    }

    #mediaquery1 {
        background-color: blueviolet;
    }
}
@media screen and (max-width: 1200px) {
    .box {
        display: block;
    }
        #box1 {
            background-color: crimson;
            inline-size: 100%;
        }
    
        #box2 {
            background-color: aqua;
            inline-size: 100%;
        }
    
        #box3 {
            background-color: limegreen;
            inline-size: 100%;
        }
    
        #box4 {
            background-color: yellow;
            inline-size: 100%;
        }
    
        #box5 {
            background-color: blueviolet;
            inline-size: 100%;
        }
}