ol {font-size: xx-large; color: darkgreen;
}
.li {font-family:serif;}
.item1 {
    color:darkblue;
    font-style: italic;}
.item2 { color: blueviolet;
    font-size: larger;}
.item7 {
    color: brown;
    font-family: Helvetica;
    font-size: xx-large;}