html {font: size 24px;}
body {background:royalblue;}
section {margin-top: 0px;}
#insideblue {margin: 0px 200px 200px;}
#green {
    display:inline-block;
    background: chartreuse;
}
#border {
    margin: 0% 30%;
    display: flex;
    content: fit;
}
#photo {
    display: center;
    flex: auto;
    border: solid;
    border-width: 15px;
    border-color: gold;
    border-radius: 50%;
}
h1 {font-size: 2rem;}
h1.header1 {color: blue;}
h1.header2 {color:red}
p {line-break:2rem;}